<p>Password = <%= password %></p>
<p>Salt (128bit) = <%= salt %> </p>
<p>RSA private key = MIIEpAIBAAKCAQEAuxA9wXi7e3/OechTJkRg7Uq+zW91/xgzYCLa7UTGXGcN0rqa
    WLd5C79yhPYk/cQGV8/Adr6Ae5gwlK8U56KXMoPV26VrkJUlCjv2ZAc6RWXUsA3H
    jimFb5XXyQf7BAXaFW2eU2uHR8+Tq9g38FjJEcE5+rd+/UjM69n5ZkoiLTKSZDfg
    GU8S8s4M9QrzH8IIwFD38pGlVY+Ghny6/ww0AZZwSjeoUA+YnwBsbffxdzpz4A95
    XoMSrssNNivdgP9M502syRMBLD/JcNIY7PtTumqJJvlfpvz6RhtZ7DOvrz8Sn9pJ
    jBuH/Z8orFF0rYzsBarQZtx7Qyo7vDamJ9sscwIDAQABAoIBAQCOs54Y2IxVczNF
    Df/4glNa0hlqSKxANOsEXLKcLEoSNX+DEV0rbpOF1b98FPY1LHQWSuMs8ri7EGeH
    FWUiK5OiMpZTYAcFnfFKtGGK/0SBqmQtBeYE2kHz1OBveIoSEJDEpgIQ60ehDYY+
    osxRqrmAtOIRFCho+j9xcLBkSwt1Y/0z0sOXBLBxAYaJCQQ+T0OqLnD+B6lrJDTy
    Sms/D72ur46P9bay3lH/qGX21h2qZPZ56Ym2p6tSpVlCJ2a3wkWEyDbbtMfkybVL
    o3+UghOrtgM72pqG8epB6Mf0y6RHew+sOPD9Vy/O9I2BOd7Hcmog0uO1oQQGPCSO
    W/GnKWtRAoGBAPldS+6qu3iqColQodvAbFa099Xh3kKmTySPu6xNdrwu+tOzs36F
    +0Ly6c7YO4qCvp291xs3RxlVRR9JUwwF+0JjD//H5tcmljOeDibIpYDBxwGbMCsb
    nE4p15L5cN8NMCy08gk20p8NK+wq31xLECJrYhZU5xYntKhZK8hyC2MZAoGBAMAK
    isI/XoAn4+TBRvJAjDF3SwuvqeZmiCqriC0OTRC5X2yE4Tr0mZ39RFQMS75DIv8J
    dmJcgEGT+bmjFnRc+ppBEkgDXF7mE3d+I8e+etLyXNdRtb7PkgHlLubI4JSDMfPN
    kEUDCHpOA/HddZkAB30u1H5cwVth0xJ9pBT6/+lrAoGAVN9+UrNlr4Igp+/7xzHN
    Lg3WNMP1xDWaxlTtiY2sFgzfbmLBexTbGkRXdAGA8nnhqwrMRgUge+zb4/QvAe6f
    QE87SNGfLieCA/uN0YGFYzeRJmjNkj6JiskPCIVB94kjlnPX1W8FbQEsq+tDrsQV
    r8Fg1zz6kj3dbVc8YbL/UTECgYBJ8IUmbyGidDlhbS00vrd7oDOrxzHCPP32d97R
    gi0X4FemP688dMrksovpVGahVdYWnf0PuA/FsAS5fdp6aQYv+Bfi1DBvdWRPYKjE
    EknWCGzIlnREiETuJ+CcCQG3DKBh/2apu5Y7COip6huKEiHQCATWtj3YQlzzRJ61
    WULJCwKBgQDUbv7PPh3ryR4GLgvHcpGDbGYkDm06JvSxJuVp2Mpg+jH7zVKCnXBC
    KndA5BLegmYau0M3fOsaqnYniy/Q2sndZCOaO1xTTPcRRr6Lw3/n17YYC/GHiqsl
    dDl6rMe/kqwuD5MkvH5fTMCFMWCnAkAwaPPIG19cdFQtyaTRv6NXBA==</p>
<p>RSA public key = MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuxA9wXi7e3/OechTJkRg
    7Uq+zW91/xgzYCLa7UTGXGcN0rqaWLd5C79yhPYk/cQGV8/Adr6Ae5gwlK8U56KX
    MoPV26VrkJUlCjv2ZAc6RWXUsA3HjimFb5XXyQf7BAXaFW2eU2uHR8+Tq9g38FjJ
    EcE5+rd+/UjM69n5ZkoiLTKSZDfgGU8S8s4M9QrzH8IIwFD38pGlVY+Ghny6/ww0
    AZZwSjeoUA+YnwBsbffxdzpz4A95XoMSrssNNivdgP9M502syRMBLD/JcNIY7PtT
    umqJJvlfpvz6RhtZ7DOvrz8Sn9pJjBuH/Z8orFF0rYzsBarQZtx7Qyo7vDamJ9ss
    cwIDAQAB</p>
<p>Pass the password through scrypt encryption with the above salt</p>
<p>IK1 = <%= scrypt1hash %></p>
<p>Padded IK1 = 00<%= scrypt1hash %>0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</p>